In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import pymongo




# Import API key
#from api_keys import g_key
#from api_keys import aqi_key

In [2]:
YR2015 = pd.read_csv('2015.csv')
YR2016 = pd.read_csv('2016.csv')
YR2017 = pd.read_csv('2017.csv')
YR2018 = pd.read_csv('2018.csv')
YR2019 = pd.read_csv('2019.csv')

In [3]:
YR2015.head(2)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201

In [4]:
YR2015.drop(['Region', 'Standard Error', 'Dystopia Residual'], axis=1, inplace=True)
YR2015

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...
153,Rwanda,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628
154,Benin,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260
155,Syria,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179
156,Burundi,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727
157,Togo,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681

In [5]:
YR2016.head(2)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463

In [6]:
YR2016.drop(['Region', 'Lower Confidence Interval','Upper Confidence Interval', 'Dystopia Residual'], axis=1, inplace=True)
YR2016

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492
...,...,...,...,...,...,...,...,...,...
152,Benin,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180
153,Afghanistan,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268
154,Togo,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517
155,Syria,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397
156,Burundi,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290

In [7]:
YR2017.head(2)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707

In [8]:
YR2017.drop(['Whisker.high', 'Whisker.low', 'Dystopia.Residual'], axis=1, inplace=True)
YR2017

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612
...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565

In [9]:
YR2018.head(2)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340

In [10]:
YR2019.head(2)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410

In [11]:
#YR2015.rename(columns = {'Happiness Rank':'Happiness Rank'}, inplace = True)
#YR2015.rename(columns = {'Happiness Score':'Happiness Score'}, inplace = True)
YR2015.rename(columns = {'Economy (GDP per Capita)':'GDP'}, inplace = True)
YR2015.rename(columns = {'Family':'Social Support'}, inplace = True)
YR2015.rename(columns = {'Health (Life Expectancy)':'Life Expectancy'}, inplace = True)
#YR2015.rename(columns = {'Freedom':'Freedom'}, inplace = True)
YR2015.rename(columns = {'Trust (Government Corruption)':'Government Corruption'}, inplace = True)
#YR2015.rename(columns = {'Generosity':'Generosity'}, inplace = True)
YR2015

,Country,Happiness Rank,Happiness Score,GDP,Social Support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...
153,Rwanda,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628
154,Benin,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260
155,Syria,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179
156,Burundi,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727
157,Togo,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681

In [12]:
#YR2016.rename(columns = {'Happiness Rank':'Happiness Rank'}, inplace = True)
#YR2016.rename(columns = {'Happiness Score':'Happiness Score'}, inplace = True)
YR2016.rename(columns = {'Economy (GDP per Capita)':'GDP'}, inplace = True)
YR2016.rename(columns = {'Family':'Social Support'}, inplace = True)
YR2016.rename(columns = {'Health (Life Expectancy)':'Life Expectancy'}, inplace = True)
#YR2016.rename(columns = {'Freedom':'Freedom'}, inplace = True)
YR2016.rename(columns = {'Trust (Government Corruption)':'Government Corruption'}, inplace = True)
#YR2016.rename(columns = {'Generosity':'Generosity'}, inplace = True)
YR2016

,Country,Happiness Rank,Happiness Score,GDP,Social Support,Life Expectancy,Freedom,Government Corruption,Generosity
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492
...,...,...,...,...,...,...,...,...,...
152,Benin,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180
153,Afghanistan,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268
154,Togo,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517
155,Syria,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397
156,Burundi,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290

In [13]:
YR2017.rename(columns = {'Happiness.Rank':'Happiness Rank'}, inplace = True)
YR2017.rename(columns = {'Happiness.Score':'Happiness Score'}, inplace = True)
YR2017.rename(columns = {'Economy..GDP.per.Capita.':'GDP'}, inplace = True)
YR2017.rename(columns = {'Family':'Social Support'}, inplace = True)
YR2017.rename(columns = {'Health..Life.Expectancy.':'Life Expectancy'}, inplace = True)
#YR2017.rename(columns = {'Freedom':'Freedom'}, inplace = True)
YR2017.rename(columns = {'Trust..Government.Corruption.':'Government Corruption'}, inplace = True)
#YR2017.rename(columns = {'Generosity':'Generosity'}, inplace = True)
YR2017

,Country,Happiness Rank,Happiness Score,GDP,Social Support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612
...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565

In [14]:
YR2018.rename(columns = {'Country or region':'Country'}, inplace = True)
YR2018.rename(columns = {'Overall rank':'Happiness Rank'}, inplace = True)
YR2018.rename(columns = {'Score':'Happiness Score'}, inplace = True)
YR2018.rename(columns = {'GDP per capita':'GDP'}, inplace = True)
YR2018.rename(columns = {'Social support':'Social Support'}, inplace = True)
YR2018.rename(columns = {'Healthy life expectancy':'Life Expectancy'}, inplace = True)
YR2018.rename(columns = {'Freedom to make life choices':'Freedom'}, inplace = True)
YR2018.rename(columns = {'Perceptions of corruption':'Government Corruption'}, inplace = True)
#YR2018.rename(columns = {'Generosity':'Generosity'}, inplace = True)
YR2018

,Happiness Rank,Country,Happiness Score,GDP,Social Support,Life Expectancy,Freedom,Generosity,Government Corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [15]:
YR2019.rename(columns = {'Country or region':'Country'}, inplace = True)
YR2019.rename(columns = {'Overall rank':'Happiness Rank'}, inplace = True)
YR2019.rename(columns = {'Score':'Happiness Score'}, inplace = True)
YR2019.rename(columns = {'GDP per capita':'GDP'}, inplace = True)
YR2019.rename(columns = {'Social support':'Social Support'}, inplace = True)
YR2019.rename(columns = {'Healthy life expectancy':'Life Expectancy'}, inplace = True)
YR2019.rename(columns = {'Freedom to make life choices':'Freedom'}, inplace = True)
YR2019.rename(columns = {'Perceptions of corruption':'Government Corruption'}, inplace = True)
#YR2019.rename(columns = {'Generosity':'Generosity'}, inplace = True)
YR2019

,Happiness Rank,Country,Happiness Score,GDP,Social Support,Life Expectancy,Freedom,Generosity,Government Corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [ ]:
#add a 10th column for the year, and then merge data

In [16]:
YR2015_2016 = pd.merge(YR2015, YR2016, on="Country")
YR2015_2016

,Country,Happiness Rank_x,Happiness Score_x,GDP_x,Social Support_x,Life Expectancy_x,Freedom_x,Government Corruption_x,Generosity_x,Happiness Rank_y,Happiness Score_y,GDP_y,Social Support_y,Life Expectancy_y,Freedom_y,Government Corruption_y,Generosity_y
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,6,7.404,1.44015,1.09610,0.82760,0.57370,0.31329,0.44834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Rwanda,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,152,3.515,0.32846,0.61586,0.31865,0.54320,0.50521,0.23552
147,Benin,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180
148,Syria,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397
149,Burundi,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290
150,Togo,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517

In [17]:
YR2015_2017 = pd.merge(YR2015_2016, YR2017, on="Country", how="outer")
YR2015_2017

,Country,Happiness Rank_x,Happiness Score_x,GDP_x,Social Support_x,Life Expectancy_x,Freedom_x,Government Corruption_x,Generosity_x,Happiness Rank_y,...,Government Corruption_y,Generosity_y,Happiness Rank,Happiness Score,GDP,Social Support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Switzerland,1.0,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.0,...,0.41203,0.28083,4.0,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
1,Iceland,2.0,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,3.0,...,0.14975,0.47678,3.0,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
2,Denmark,3.0,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,1.0,...,0.44453,0.36171,2.0,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
3,Norway,4.0,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,4.0,...,0.35776,0.37895,1.0,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
4,Canada,5.0,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,6.0,...,0.31329,0.44834,7.0,7.316,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Namibia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,111.0,4.574,0.964434,1.098471,0.338612,0.520304,0.077134,0.093147
156,Mozambique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,113.0,4.550,0.234306,0.870701,0.106654,0.480791,0.322228,0.179436
157,Lesotho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,139.0,3.808,0.521021,1.190095,0.000000,0.390661,0.157497,0.119095
158,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,147.0,3.591,0.397249,0.601323,0.163486,0.147062,0.285671,0.116794
159,Central African Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,155.0,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565

In [18]:
YR2015_2018 = pd.merge(YR2015_2017, YR2018, on="Country", how="outer")
YR2015_2018

,Country,Happiness Rank_x,Happiness Score_x,GDP_x,Social Support_x,Life Expectancy_x,Freedom_x,Government Corruption_x,Generosity_x,Happiness Rank_y,...,Generosity_x,Government Corruption_x,Happiness Rank_y,Happiness Score_y,GDP_y,Social Support_y,Life Expectancy_y,Freedom_y,Generosity_y,Government Corruption_y
0,Switzerland,1.0,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.0,...,0.290549,0.367007,5.0,7.487,1.420,1.549,0.927,0.660,0.256,0.357
1,Iceland,2.0,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,3.0,...,0.475540,0.153527,4.0,7.495,1.343,1.644,0.914,0.677,0.353,0.138
2,Denmark,3.0,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,1.0,...,0.355280,0.400770,3.0,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Norway,4.0,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,4.0,...,0.362012,0.315964,2.0,7.594,1.456,1.582,0.861,0.686,0.286,0.340
4,Canada,5.0,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,6.0,...,0.435540,0.287372,7.0,7.328,1.330,1.532,0.896,0.653,0.321,0.291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,Lesotho,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.157497,0.119095,141.0,3.808,0.472,1.215,0.079,0.423,0.116,0.112
158,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.285671,0.116794,154.0,3.254,0.337,0.608,0.177,0.112,0.224,0.106
159,Central African Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.280876,0.056565,155.0,3.083,0.024,0.000,0.010,0.305,0.218,0.038
160,Trinidad & Tobago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,38.0,6.192,1.223,1.492,0.564,0.575,0.171,0.019
161,Northern Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,58.0,5.835,1.229,1.211,0.909,0.495,0.179,0.154

In [19]:
YR2015_2019 = pd.merge(YR2015_2018, YR2019, on="Country", how="outer")
YR2015_2019

,Country,Happiness Rank_x,Happiness Score_x,GDP_x,Social Support_x,Life Expectancy_x,Freedom_x,Government Corruption_x,Generosity_x,Happiness Rank_y,...,Generosity_y,Government Corruption_y,Happiness Rank,Happiness Score,GDP,Social Support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Switzerland,1.0,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.0,...,0.256,0.357,6.0,7.480,1.452,1.526,1.052,0.572,0.263,0.343
1,Iceland,2.0,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,3.0,...,0.353,0.138,4.0,7.494,1.380,1.624,1.026,0.591,0.354,0.118
2,Denmark,3.0,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,1.0,...,0.284,0.408,2.0,7.600,1.383,1.573,0.996,0.592,0.252,0.410
3,Norway,4.0,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,4.0,...,0.286,0.340,3.0,7.554,1.488,1.582,1.028,0.603,0.271,0.341
4,Canada,5.0,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,6.0,...,0.321,0.291,9.0,7.278,1.365,1.505,1.039,0.584,0.285,0.308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Trinidad & Tobago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.171,0.019,39.0,6.192,1.231,1.477,0.713,0.489,0.185,0.016
161,Northern Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.179,0.154,64.0,5.718,1.263,1.252,1.042,0.417,0.191,0.162
162,North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,84.0,5.274,0.983,1.294,0.838,0.345,0.185,0.034
163,Gambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,120.0,4.516,0.308,0.939,0.428,0.382,0.269,0.167
164,Swaziland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,135.0,4.212,0.811,1.149,0.000,0.313,0.074,0.135